@page
@model MovieRevs.Pages.Account.LoginModel

<h2>Login</h2>

<form method="post">
    <input name="Username" placeholder="Username" />
    <input name="Password" type="password" placeholder="Password" />
    <button type="submit">Login</button>
</form>
@if (!ViewData.ModelState.IsValid)
{
    <div style="color:red">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
