@page
@model MovieReviewSite.Pages.IndexModel
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Claims

<h1>Добро пожаловать на наш сайт!</h1>

<p>
    Здесь вы найдете честные и подробные отзывы на самые разные фильмы — 
    от классики до новинок киноиндустрии. Наш проект создан для того, чтобы
    помочь вам сделать правильный выбор и найти именно тот фильм, который 
    подарит вам незабываемые впечатления.
</p>